@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  /* Colors */
  /* Primary Colors */
  --landing-page-bg: linear-gradient(122.21deg, #35693E -4.31%, #CFF9D7 99.36%);
  --login-btn-green: hsla(104, 32%, 56%, 1);
  --dark-green: hsla(131, 76%, 15%, 1);
  --red: hsla(0, 99%, 61%, 1);
  --signUp-bg: hsla(131, 33%, 31%, 1);
  --form-bg: hsla(104, 32%, 56%, 0.77);
  --login-bg: hsla(129, 24%, 22%, 1);
  --navbar-bg-green: hsla(131, 35%, 24%, 1);
  --h3-color: hsla(104, 29%, 43%, 1);
  --welcome-gradient: linear-gradient(90deg, #17320dcc 0%, #a7ff86cc 98.63%);
  ; 
  
  /* Neutral Colors */
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --light-ash: hsla(0, 0%, 73%, 1);
  --otp-input-bg: hsla(0, 0%, 74%, 1);
  --next-btn-bg: hsla(0, 0%, 42%, 1);
  --placeholder-color: hsla(0, 0%, 62%, 1);
  --h2-color: hsla(0, 1%, 61%, 1);
  --nav-font-color: hsla(115, 100%, 98%, 1);
  --bg-grey-lite: hsla(0, 0%, 98%, 1); ;
  --ultralite-ash: hsla(0, 0%, 57%, 1);
  --lite-pro-ash: hsla(0, 0%, 79%, 1);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background-color: var(--bg-grey-lite);
}

h1 {
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: 2.15rem;
  margin-block: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

button {
  cursor: pointer;
}

abbr[title] {
  text-decoration: none;
}

input:focus {
  border: none;
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.container {
  width: 100%;
  padding-inline: .8rem; 
  padding-block: 1rem;
}

.header {
  width: 90%;
  margin-inline: auto;
}

/* Mobile Styles */
/* Landing Page */
.landPage {
  background: var(--landing-page-bg);
  padding-block-end: 4rem;
}

/* Header */
.landPage header nav {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-block: 2rem;
}

.landPage header nav p {
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.landPage header nav p span {
  position: relative;
  width: 100%;
}

.landPage header nav p span .white-line {
  border-top: 3px solid var(--white);
  position: absolute;
  width: 100%;
  top: 3px;
}

.landPage header nav p span .red-line {
  border-bottom: 3px solid var(--red);
  position: absolute;
  width: 100%;
  bottom: 3px;
}

.landPage header nav button { 
  font-weight: 600;
  font-size: 1.4rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1rem;
  color: var(--login-btn-green);
}

/* Landing PAge Main */
main section.moto {
  margin-block: 2rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 

section.moto .priority {
  position: relative;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

section.moto .priority p {
  color: var(--white);
  font-weight: 400;
  width: 100%;
  font-size: 2.3rem;
  line-height: 48px;
} 

.priority img {
  position: absolute;
  top: 75px;
  left: -34%;
  height: 35px;
}

.priority img.line2 {
  display: none;
}

.priority button {
  display: none;
}

section.moto img {
  width: 70%;
}

main button.login2 {
  font-weight: 600;
  font-size: 1.1rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1.5rem;
  color: var(--login-btn-green);
  margin-block: 1rem;
}

main section.aboutUs {
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-block: 4.5rem;
}

main section.aboutUs aside {
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: 600;
  gap: 0.5rem;
  color: var(--dark-green);
}

main section.aboutUs aside img {
  width: 25%;
}

/* SignUp Page */
/* Header */
.signUpPage {
  background: var(--signUp-bg);
  font-family: 'Poppins', sans-serif;
  padding-block-end: 5rem;
}

.signUpPage header {
  margin-block: 2rem;
}

.signUpPage header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUpPage header nav p {
  font-weight: 600;
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.signUpPage header nav p span {
  position: relative;
  width: 100%;
}

.signUpPage header nav p span .white-line {
  border-top: 3px solid var(--white);
  position: absolute;
  width: 100%;
  top: 3px;
}

.signUpPage header nav p span .red-line {
  border-bottom: 3px solid var(--red);
  position: absolute;
  width: 100%;
  bottom: 3px;
}

/* ERROR MESSAGE */
p.err-mssg {
  text-align: left;
  font-style: italic;
  color: hsla(0, 100%, 50%, 0.7);
  font-weight: 500;
  font-size: 0.7rem;
  font-family: inherit;
}

/* SignUp Main */
.signUpPage main {
  margin-block: 2rem;
} 

.signUpPage main h1 {
  font-size: 2.3rem;
}

.signUpPage main form {
  display: flex;
  flex-direction: column;
}

.signUpPage main form .signupForm {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.signUpPage main form .signupForm .firstForm, .signUpPage main form .signupForm .secondForm {
  width: 50%;
}

.signUpPage main form input { 
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  font-size: 0.9rem;
  border: none;
  padding-inline-start: .5rem;
  padding-inline-end: .1rem;
  height: 40px;
  margin-bottom: 2rem;
  width: 100%;
} 

.signupForm select {
  border-radius: 5px;
  padding-inline-start: .5rem;
  margin-bottom: 2rem;
  height: 40px;
  width: 100%;
  font-size: .9rem;
}

form input.confirm-password {
  margin-block: 2rem 3rem;
}

.signUpPage main form button {
  font-weight: 600;
  font-size: 1.5rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1.5rem;
  color: var(--login-btn-green);
  margin-block: 2rem 4rem;
  align-self: flex-end;
}

/* Verififcation Page */
.verificationPage {
  background: var(--signUp-bg);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  height: 100vh;
}

.verificationPage header {
  margin-block: 2rem;
}

.verificationPage header nav {
  display: flex;
  align-items: center;
}

.verificationPage header nav p {
  font-weight: 600;
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.verificationPage header nav p span {
  position: relative;
  width: 100%;
}

.verificationPage header nav p span .white-line {
  border-top: 3px solid var(--white);
  position: absolute;
  width: 100%;
  top: 3px;
}

.verificationPage header nav p span .red-line {
  border-bottom: 3px solid var(--red);
  position: absolute;
  width: 100%;
  bottom: 3px;
}

/* Verification PAge Main */
.verificationPage main {
  margin-block: 2rem;
}

.verificationPage main h1 {
  font-size: 2.1rem;
}

.verificationPage main p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.06rem;
}

.verificationPage main p span.OTP {
  color: var(--red);
}

.verificationPage main form.verify {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verificationPage main form.verify .otp {
  display: flex;
  width: 100%;
  max-width: 350px;
  gap: 1rem;
}

form.verify .otp input {
  margin-inline: auto;
  width: 70px;
  height: 70px;
  text-align: center;
  padding-inline-start: 1rem;
  margin-block: 2rem;
  background: var(--otp-input-bg);
  font-size: 3rem;
  border: none;
  border-radius: 50%;
}

form.verify button {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  color: var(--white);
  background: var(--next-btn-bg);
}

/* Successful signup Page */
.successSignupPage {
  background: var(--signUp-bg);
  height: 100vh;
  font-family: 'Poppins',sans-serif;
}

/* Header */
.successSignupPage header {
  margin-block: 2rem;
}

.successSignupPage header nav {
  display: flex;
  align-items: center;
}

.successSignupPage header nav p {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.successSignupPage header nav p span {
  position: relative;
  width: 100%;
}

.successSignupPage header nav p span .white-line {
  border-top: 3px solid var(--white);
  position: absolute;
  width: 100%;
  top: 3px;
}

.successSignupPage header nav p span .red-line {
  border-bottom: 3px solid var(--red);
  position: absolute;
  bottom: 3px;
  width: 100%;
}

.successSignupPage main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
}

.successSignupPage p.registeredSuccess {
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 700;
  margin-block-end: 2rem;
}

.successSignupPage p.registeredSuccess span.patientId {
  color: var(--black);
}

.successSignupPage p.reminder {
  font-size: 1.08rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: var(--light-ash);
}

.successSignupPage main button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1rem;
  color: var(--login-btn-green);
  margin-block: 4rem;
  align-self: flex-end;
}

/* Login PAge */
.loginPage, .changePword {
  background: var(--login-bg);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.loginPage header {
  margin-block: 1.5rem;
}

.loginPage header nav {
  display: flex;
}

.loginPage header nav p {
  display: flex;
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
}

.loginPage header nav p span {
  position: relative;
  width: 100%;
}

.loginPage header nav p span .white-line {
  border-top: 3px solid var(--white);
  width: 100%;
  top: 3px;
  position: absolute;
}

.loginPage header nav p span .red-line {
  border-bottom: 3px solid var(--red);
  width: 100%;
  bottom: 3px;
  position: absolute;
}

/* Login Main */
.loginPage main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginPage main .form-field {
  display: flex;
  flex-direction: column;
  background-color: var(--form-bg);
  padding: 2.5rem; 
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  max-height: 310px;
  margin-block: 1rem 4rem;
}

.loginPage .form-field form {
  color: var(--white);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-inline: auto;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
}

.loginPage main .form-field p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  align-self: flex-end;
  color: var(--red);
  font-size: 12px;
}

.loginPage .form-field form input {
  width: 100%;
  height: 37px;
  margin-block: 0.4rem 1.3rem;
  border: none;
  border-radius: 5px;
  padding-inline-start: 1rem;
  font-size: 0.9rem;
}

.passVisibility {
  position: relative;
} 

.passVisibility .showPword {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--login-bg);
}

.signUpPage .passVisibility .showPword {
  top: 32%;
}

.loginPage main button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1rem;
  color: var(--login-btn-green);
  margin-block-start: .5rem;
  align-self: flex-end;
}

/* PATIENT HOME */
/* Navbar */
header.patientHeader {
  background: var(--login-bg);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
} 

header.patientHeader nav.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .5rem;
  max-height: 52px;
  color: var(--white);
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
}

header.patientHeader nav.header ul {
  display: flex;
  align-items: center;
  gap: .8rem;
}

nav.header ul.leftNav li.noShow {
  display: none;
}

header.patientHeader nav.header ul.rightNav li.last {
  display: flex;
  gap: .5rem;
  align-items: center;
}

header.patientHeader nav.header ul.rightNav li.last .profile {
  font-size: 0.7rem;
  text-align: right;
}

ul.rightNav li.last .profile span {
  opacity: .6;
  font-weight: 300;
}

a.initials {
  padding: 0.2rem .65rem;
  border-radius: 5px;
  font-size: .87rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.08);
}

.headerFooter {
  display: flex;
  align-items: center;
  width: 100%; 
  position: fixed;
  padding-block: .7rem;
  max-height: 42px;
  background: var(--white);
  z-index: 90;
}

.headerFooter .header {
  padding-inline: 5rem;
  font-family: 'Poppins', sans-serif;
  color: #c9c9c9;
}

.headerFooter .header > * {
  display: inline-block;
  margin-inline-end: .8rem;
}

.headerFooter .header .crumb:after {
  content: url(assets/icons/dots.svg);
  margin-inline-start: .8rem;
}

.headerFooter .header .crumb:last-child::after {
  display: none;
}

/* Hamburger Menu */ 
li.hamburger {
  display: flex;
  width: 100%;
  flex-direction: column; 
  align-items: flex-end;
  margin-inline-end: 1rem;
  z-index: 999;
}

li.hamburger .hamburger-icon {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 19px;
  cursor: pointer;
}

li.hamburger::marker {
  display: none;
  color: white;
  background: white;
}

li.hamburger .hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--navbar-bg-green);
  transition: transform 0.4s ease-in-out;
}

li.hamburger .hamburger-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

li.hamburger .hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

li.hamburger .hamburger-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* CSS for Off-canvas Sliding Navigation Menu */
aside nav.secondNav {
  background: hsla(131, 100%, 96%, 1);
  width: 50%;
  height: 100vh;
  position: fixed;
  top: 92px;
  right: -100%;
  transition: right 0.4s ease-in-out;
  z-index: 990;
}

aside nav.secondNav.open {
  right: 0;
}

aside nav.secondNav ul {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; 
  height: 100%;
}

aside nav.secondNav ul li {
  display: flex;
  align-items: center;
  gap: .7rem;
  background: white;
  padding: 10px;
  opacity: 0;
  transform: translateX(-100%);
  margin-block-end: 1rem;
  color: var(--navbar-bg-green);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

aside nav.secondNav.open ul li {
  opacity: 1;
  transform: translateX(0);
}

aside nav.secondNav ul li:nth-child(1) {
  transition-delay: 0.1s;
}

aside nav.secondNav.open ul li:nth-child(1) {
  transition-delay: 0.2s;
}

aside nav.secondNav ul li:nth-child(2) {
  transition-delay: 0.2s;
}

aside nav.secondNav.open ul li:nth-child(2) {
  transition-delay: 0.3s;
}

aside nav.secondNav ul li:nth-child(3) {
  transition-delay: 0.3s;
}

aside nav.secondNav.open ul li:nth-child(3) {
  transition-delay: 0.4s;
}

aside nav.secondNav ul li:nth-child(4) {
  transition-delay: 0.4s;
}

aside nav.secondNav.open ul li:nth-child(4) {
  transition-delay: 0.5s;
} 

aside nav.secondNav ul li img {
  width: 12%; 
}

/* Dashboard Main */
main.header {
  background: var(--white);
  border-radius: 10px;
  margin-block: 4.5rem 2.5rem;
}

main.header .wrapper {
  width: 95%;
  margin-inline: auto;
  padding-block: 1rem;
}

.doctor-dashboard .welcome::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--welcome-gradient);
  border-radius: 10px;
  z-index: 1;
}

.grid-container .welcome {
  position: relative; 
  background-image: url(./assets/images/scope.jpeg);
  background-position: 50% 50%;
  background-size: cover;
  grid-column: span 3;
  grid-row: span 2;
  border-radius: 10px;
  padding: 0rem 1.3rem;
}

.doctor-dashboard .welcomeWrap {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: var(--white);
  position: relative;
  z-index: 2;
  padding-block: .8rem;
}

.welcome .text-wrapper {
  font-size: .9rem;
  margin-block-end: .3rem;
}

.welcome p.userName {
  font-weight: 700;
  font-size: 1.2rem;
}

.welcome .welcome-line {
  margin-block: .8rem;
  width: 50%;
  border-top: 1px solid white;
}

.welcome p.tip {
  font-weight: 500;
  font-size: .8rem;
}

/* CTA Section */
section.cta {
  display: flex;
  border: 1px solid var(--form-bg);
  border-radius: 10px;
  width: 100%;
  margin-block: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1rem;
  min-height: 104px;
}

section.cta .dividerLine {
  border-left: 1px solid var(--black);
  height: 100%;
  width: 1%;
  margin-inline: .3rem;
}

section.cta .appToday {
  display: flex;
  width: 49%;
  align-items: center;
  gap: 0.3rem;
}

section.cta .appToday img {
  width: 27%;
}

section.cta .appToday .appoint-details {
  font-family: 'Poppins', sans-serif;
}

section.cta .appToday .appoint-details p.num {
  font-weight: 700;
  font-size: 1.1rem;
  color: var(--form-bg);
}

section.cta .appToday .appoint-details p.appt {
  font-weight: 400;
  font-size: 0.64rem;
  color: var(--black);
}

section.cta .appToday .appoint-details p.today {
  font-weight: 400;
  font-size: 0.65rem;
  color: var(--ultralite-ash);
}

/* Section for Recent Doctors */
section.recentDoctors {
  margin-block: 2rem;
  font-family: 'Poppins', sans-serif;
  color: var(--h2-color);
}

section.recentDoctors h2 {
  font-weight: 700;
  font-size: 1.5rem;
}

section.recentDoctors .docsCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-block: 1rem 2rem;
  gap: 2rem;
}

section.recentDoctors .docsCard article {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--h2-color);
  border-radius: 5px;
}

section.recentDoctors .docsCard article .top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: 1rem;
  margin-block: 1rem 2rem;
}

section.recentDoctors .docsCard article .top img {
  width: 50%;
}

section.recentDoctors .docsCard article .top p.docName {
  margin-block-start: 1rem;
  font-size: 0.8rem;
  font-weight: 600;
}

section.recentDoctors .docsCard article .top p.role {
  font-size: 0.6rem;
}

section.recentDoctors .docsCard article .bottom {
  border-top: 1px solid var(--h2-color);
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: center;
  width: 100%;
  font-weight: 400;
  padding-block: .5rem;
  font-size: 0.65rem;
}

/* Aside for Missed Appointment */
aside.missedApp {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block: 3.5rem 2rem;
}

aside.missedApp button {
  border: none;
  font-weight: 700;
  font-size: 1rem;
  max-width: 217px;
  background: hsla(104, 32%, 56%, 1);
  border-radius: 5px;
  font-family: inherit;
  line-height: 20px;
  padding: .6rem 1rem;
  color: var(--white);
}

aside.missedApp a {
  color: hsla(104, 32%, 56%, 1);
  font-weight: 600;
  font-size: 0.75rem;
  margin-top: .5rem;
}

.wrapper .centerLine {
  display: none;
}

.calendarWrap {
  display: none;
}

/* Reschedule Appointments Pages */
.wrapper .rescheduleAppt {
  font-family: 'Poppins', sans-serif;
  width: 98%;
  margin-inline: auto;
}

.wrapper .rescheduleAppt h2 {
  color: var(--h3-color);
  font-weight: 600;
  font-size: 1.2rem;
  margin-block: .7rem 2rem;
}

.wrapper .rescheduleAppt h3 {
  font-weight: 700;
  font-size: 0.85rem;
  margin-block: 1.5rem;
  color: var(--lite-pro-ash);
}

.wrapper .rescheduleAppt form {
  margin-block: 1.5rem 2rem;
}

.wrapper .rescheduleAppt form label {
  color: var(--black);
  font-weight: 500;
  font-size: 0.9rem;
}

.wrapper .rescheduleAppt form input {
  border: 1px solid var(--placeholder-color);
  border-radius: 5px;
  color: var(--placeholder-color);
  font-family: 'Poppins', sans-serif;
  width: 70%;
  height: 37px;
  font-size: .9rem;
  padding-inline: .5rem;
  margin-block: .3rem 2rem;
}

.wrapper .rescheduleAppt form .footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 4rem;
}

form .footerNav button {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  border: none;
  font-size: 0.8rem;
  color: var(--white);
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: var(--h3-color);
  margin-block-end: 1rem;
}

/* Confirm Rescheduling of Appointment */
.wrapper .rescheduleAppt #body {
  text-align: center;
  font-weight: 600;
}

.rescheduleAppt #body p#head {
  color: var(--h3-color);
  margin-block: 1rem;
  font-size: 1.2rem;
}

.rescheduleAppt #body p#notice {
  font-style: italic;
  font-size: .8rem;
  color: var(--red);
  margin-block-end: 3rem;
}

.rescheduleAppt #body button {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: none;
  font-size: 0.8rem;
  color: var(--white);
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: var(--h3-color);
  margin-block-end: 2rem;
}

/* Appointment Page */
.wrapper .AppWraPPer {
  font-family: 'Poppins', sans-serif;
  width: 98%;
  margin-inline: auto;
}

.wrapper .AppWraPPer h2 {
  color: var(--h3-color);
  font-weight: 600;
  font-size: 1.26rem;
  margin-block: .7rem 1rem;
}

.wrapper .AppWraPPer nav.slideNav ul.slideNav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 0.4rem;
  color: var(--lite-pro-ash);
}

nav.slideNav ul.slideNav li a {
  border-bottom: 2px solid var(--lite-pro-ash);
}

nav.slideNav ul.slideNav li a.active {
  color: var(--h3-color);
  border-bottom: 2px solid var(--h3-color);
}

nav.slideNav ul.slideNav li a span {
  font-size: 0.6rem;
}

.wrapper .AppWraPPer .appBody {
  margin-block: 2rem;
}

.wrapper .AppWraPPer .appBody .appBodyWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: .6rem;
}

.appBody .appBodyWrapper .specialist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: .5rem ;
  padding: .5rem .05rem;
  cursor: pointer;
  border-radius: 5px;
  background-color: hsla(115, 100%, 98%, 1);
}

.appBodyWrapper .specialist img {
  width: 33%;
}

.appBodyWrapper .specialist p {
  margin-block-start: 1rem;
  text-align: center;
}

.wrapper .appPayDateWrap {
  width: 96%;
  font-family: 'Poppins', sans-serif;
  margin-inline: auto;
}

.wrapper .appPayDateWrap form label {
  color: var(--black);
  font-weight: 500;
  font-size: 0.9rem;
}

.wrapper .appPayDateWrap form input {
  border: 1px solid var(--placeholder-color);
  border-radius: 5px;
  color: var(--placeholder-color);
  font-family: inherit;
  width: 70%;
  height: 37px;
  font-size: .9rem;
  padding-inline: .5rem;
  margin-block: .3rem 2rem;
}

.wrapper .appPayDateWrap form .footerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 2rem;
}

.confirmApp {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.appBody .confirmApp h2 {
  font-size: 1.5rem;
}

.appBody .confirmApp form {
  margin-block-start: 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
}

.appBody .confirmApp form input {
  margin-block-end: 1.2rem;
  border: 1px solid var(--placeholder-color);
  border-radius: 5px;
  color: var(--placeholder-color);
  font-family: inherit;
  width: 100%;
  height: 37px;
  font-size: .9rem;
  padding-inline: .5rem;
}

.confirmApp .footerNav {
  margin-block: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.confirmApp .footerNav button {
  text-transform: uppercase;
  border: none;
  font-size: 0.6rem;
  color: var(--white);
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: var(--h3-color);
}

.wrapper .paymentWrap {
  font-family: 'Inter', sans-serif;
} 

.paymentWrap form h3 {
  font-family: 'Roboto', sans-serif;
  color: hsla(221, 8%, 55%, 1);
  font-size: 0.85rem;
  margin-block-end: 1rem;
}

.paymentWrap form label {
  font-family: 'Inter', sans-serif;
  color: hsla(0, 2%, 25%, 1);
  font-weight: 500;
  font-size: 0.8rem;
}

.paymentWrap form input {
  border: 1px solid var(--placeholder-color);
  border-radius: 5px;
  color: var(--placeholder-color);
  font-family: inherit;
  width: 70%;
  height: 37px;
  font-size: .9rem;
  padding-inline: .5rem;
  margin-block: 0.3rem .9rem;
} 

.paymentWrap form .flexForm {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.flexForm .twoForms input {
  width: 80%;
}

.paymentWrap .totalPayment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 300;
  color: hsla(0, 2%, 25%, 1);
  font-family: 'Inter', sans-serif;
  width: 100%;
}

.paymentWrap .totalPayment .subTotal, .platformFee, .total {
  display: flex;
  justify-content: space-between;
  margin-block-start: .5rem;
}

.paymentWrap .totalPayment .total {
  padding-top: .8rem;
  border-top: 1px solid var(--otp-input-bg);
  margin-block-end: 2rem;
}

.paymentWrap .totalPayment button {
  align-self: center;
  border: none;
  font-family: inherit;
  font-size: 0.75rem;
  color: var(--white);
  padding: .5rem 1rem;
  border-radius: 5px;
  background-color: var(--h3-color);
}

/* Notification Page */
.notificationWrap {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
}

.wrapper .profile-notification {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.profile-notification img {
  width: 20%;
}

.profile-notification .aboutInfo {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: hsla(221, 15%, 32%, 1);
}

.profile-notification .aboutInfo p.userName {
  font-size: 1.3rem;
}

.profile-notification .aboutInfo p.userId {
  font-size: 1rem;
}

.notificationWrap .notification-preview {
  display: flex;
  width: 100%;
  align-items: center;
  gap: .6rem;
  padding-inline: .5rem .1rem;
  margin-block: .8rem;
  padding-block: 0.45rem;
  border-left: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.notificationWrap .notification-preview p {  
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.7rem;
  color: hsla(221, 15%, 32%, 1);
}

.notificationWrap .notification-preview p span {
  color: hsla(221, 5%, 65%, 1);
}

/* Desktop Styles */
@media(min-width: 768px) {
  /* Utility Style */
  .container{
    padding-inline: 4rem;
  }

  /* Landing Page Main */
  main section.moto {
    margin-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%; 
  } 

  section.moto .priority {
    position: relative;
    width: 60%;
  }
  
  section.moto .priority p {
    color: var(--white);
    font-weight: 400;
    width: 77%;
    font-size: 4.3rem;
    line-height: 108px;
  } 
  
  .priority img {
    display: none;
  }
  
  .priority img.line2 { 
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 250px;
    height: 35px;
  }
  
  .priority button {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    background: var(--white);
    border: none;
    border-radius: 5px;
    padding: .3rem 1.9rem;
    color: var(--login-btn-green);
    margin-block: 5rem 1rem;
  }
  
  section.moto img {
    width: max(30%, 370px);
  }

  button.login2 {
    display: none;
  }

  main section.aboutUs aside {
    display: flex;
    gap: 1rem; 
  }

  section.aboutUs aside.aside1 {
    color: var(--white);
    opacity: .5;
  }
  
  section.aboutUs aside p {
    align-items: center; 
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  main section.aboutUs aside img {
    width: 25%;
  }

  /* SignUp Page */
  .signUpPage main {
    max-width: 990px;
    margin-inline: auto;
  }

  .signUpPage main h1 { 
    font-size: 4rem !important; 
    margin-block-end: 3.5rem !important;
  }

  .signUpPage main form {
    width: 80%;
    margin-inline: auto;
  }

  .signUpPage main form .signupForm {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
  } 

  .signupForm select {
    border-radius: 5px;
    padding-inline: 1rem; 
  }

  form input.confirm-password {
    margin-block: 1.5rem 3rem;
    width: 45% !important;
    align-self: flex-end;
  }

  .signUpPage main form button { 
    font-size: 1.7rem;  
    margin-block: 3rem 3.5rem;
    align-self: flex-end;
  }

  /* Verification PAge */
  .verificationPage main {
    max-width: 920px;
    margin-inline: auto;
  }

  .verificationPage main h1 {
    font-size: 4rem;
  }

  .verificationPage main p {
    font-size: 2.2rem;
  }

  .verificationPage main form.verify button {
    width: 30%;
  }

  /* Successful signup Page */
  .successSignupPage main {
    max-width: 830px;
    margin-inline: auto;
    justify-content: space-between;
  }

  .successSignupPage main h1 {
    font-size: 4rem;
  }

  .successSignupPage main p.registeredSuccess {
    font-size: 2.5rem;
    line-height: 60px;
  }

  .successSignupPage main p.reminder {
    font-size: 1.4rem;
  }

  /* Login Page */
  .loginPage main h1 {
    margin-block-end: 0rem;
    font-size: 3.2rem;
  }

  .loginPage main .form-field {
    max-width: 400px;
  }

  /* DESKTOP NAVBAR */
  header.patientHeader nav.header {
    padding-block: 2rem;
    max-height: 72px;
  }

  nav.header ul.leftNav li.noShow {
    display: inline-block;
  } 

  header.patientHeader nav.header ul.rightNav li {
    padding-inline: .3rem;
  }

  header.patientHeader nav.header ul.leftNav li a {
    border: 2px solid transparent;
    padding-inline: .75rem;
    padding-block: .5rem;
    border-radius: 5px;
  }

  /* Active State NavBar */
  header.patientHeader nav.header ul.leftNav li a.active {
    border: 2px solid var(--white);
  }
  
  header.patientHeader nav.header ul.leftNav li a:hover {
    color: var(--login-bg);
    background: var(--white);
    transition: background .7s ease-in-out;
  }

  header.patientHeader nav.header ul.rightNav li.last {
    display: flex;
    gap: .9rem;
    align-items: center;
  }
  
  header.patientHeader nav.header ul.rightNav li.last .profile {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  ul.rightNav li.last .profile span {
    opacity: .6;
    font-weight: 300;
  }

  a.initials {
    padding: 0.6rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.08);
  }

  .headerFooter {
    padding-block: 1rem;
    max-height: 100px;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
  }

  /* DASHBOARD */
  .wrapper {
    display: flex;
    justify-content: space-between; 
  }

  .wrapper .doctor-dashboard {
    width: 77%;
    margin-inline-end: 1rem;
  }

  .wrapper .doctor-dashboard .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 160px);
    margin-block: 1rem;
  }

  .grid-container .welcome {
    padding: 0rem 1.5rem;
    margin-block-end: 2rem;
  }

  .doctor-dashboard .welcomeWrap {
    margin-block-start: 3rem;
    padding-block: 0px;
  }

  .welcome .text-wrapper {
    font-weight: 500;
    font-size: 1.5rem;
  }
  
  .welcome p.userName {
    font-weight: 700;
    font-size: 2.1rem;
  }
  
  .welcome .welcome-line {
    margin-block: 2rem;
    width: 40%;
    border-top: 1px solid white;
  }
  
  .welcome p.tip {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .grid-container section.cta {
    grid-column: span 2;
    margin-block: .5rem ;
  }

  section.cta .appToday {
    gap: .6rem;
  }
  
  section.cta .appToday img {
    width: 24%;
  }

  section.cta .appToday .appoint-details p.num {
    font-size: 1.5rem;
  }
  
  section.cta .appToday .appoint-details p.appt {
    font-size: 1.2rem;
  }
  
  section.cta .appToday .appoint-details p.today {
    font-size: 1rem;
  }

  /* Section for Recent Doctors */  
  section.recentDoctors h2 {
    font-size: 1.8rem;
  }
  
  section.recentDoctors .docsCard {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  
  section.recentDoctors .docsCard article .top img {
    width: 75%;
  }
  
  section.recentDoctors .docsCard article .top p.docName {
    font-size: 1.1rem;
  }
  
  section.recentDoctors .docsCard article .top p.role {
    font-size: 0.9rem;
  }
  
  section.recentDoctors .docsCard article .bottom {
    gap: 0.3rem;
    font-size: 1rem;
  }

  aside.missedApp {
    display: none;
  }
  
  /* Line Divider */
  .wrapper .centerLine {
    border-left: 1px solid var(--light-ash);
    width: 0.2%;
    display: unset;
  }

  /* Calendar */
  .calendarWrap {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: unset;
    width: 22.8%;
  }

  .calendarWrap aside.missedApp {
    display: flex;
  }
  
  .wrapper .react-calendar {
    max-width: 200px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: var(--light-ash);
  }
  
  /* Customize the calendar header */
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 1px;
  }
  
  .react-calendar__navigation button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 1px;
    color: var(--white);
    margin-block-end: .5rem;
  }
  
  .react-calendar__navigation__label__labelText {
    background-color: #000;
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--white);  
  }
  
  .react-calendar__navigation button:hover {
    color: #888;
  }
  
  .react-calendar__navigation button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .react-calendar__navigation__label {
    font-size: 16px;
    font-weight: 600;
  }
  
  /* Customize the calendar weekdays */
  .react-calendar__month-view__weekdays {
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-size: 12px;
    padding: 5px 0;
  }
  
  /* Customize the calendar days */
  .react-calendar__month-view__days {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    padding: 5px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: var(--light-ash);
  }
  
  .react-calendar__tile:hover {
    background-color: #f0f0f0;
  }
  
  .react-calendar__tile--now {
    background-color: #000;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
  }
  
  .react-calendar__tile--active {
    background-color: #007bff;
    color: #fff;
  }
  
  .react-calendar__tile--active:hover {
    background-color: #0056b3;
  }

  /* Reschedule Appointment Pages */
  .wrapper .rescheduleAppt {
    width: 90%;
  }

  .wrapper .rescheduleAppt h2 {
    font-size: 2.3rem;
  }

  .wrapper .rescheduleAppt h3 {
    font-size: 1.2rem;
  }

  .wrapper .rescheduleAppt form input {
    width: 30%;
  }

  /* Confirm Rescheduling of Appointment */
  .rescheduleAppt #body {
    width: 75%;
    margin-inline: auto;
  }

  .rescheduleAppt #body p#head {
    font-size: 2rem;
  }

  .rescheduleAppt #body p#notice {
    margin-block-start: 4rem;
    font-size: .9rem;
  }

  /* Appointment Page */
  .wrapper .AppWraPPer {
    width: 90%;
  }

  .wrapper .AppWraPPer h2 {
    font-size: 2.1rem;
  }

  .wrapper .AppWraPPer nav.slideNav ul.slideNav {
    font-size: 1rem;
  }

  nav.slideNav ul.slideNav li a {
    border-bottom: 3px solid var(--lite-pro-ash);
  }
  
  nav.slideNav ul.slideNav li a.active {
    color: var(--h3-color);
    border-bottom: 3px solid var(--h3-color);
  }
  
  nav.slideNav ul.slideNav li a span {
    font-size: 1.3rem;
  }

  .wrapper .AppWraPPer .appBody {
    margin-block: 2rem;
  }
  
  .wrapper .AppWraPPer .appBody .appBodyWrapper {
    width: 90%;
    grid-template-columns: repeat(6, 1fr);
    font-size: .7rem;
  }
  
  .appBody .appBodyWrapper .specialist {
    margin: .6rem .5rem;
  }
  
  .appBodyWrapper .specialist img {
    width: 33%;
  }

  .wrapper .appPayDateWrap {
    width: 92%;
  }
  
  .wrapper .appPayDateWrap form label {
    font-size: .9rem;
  }
  
  .wrapper .appPayDateWrap form input {
    font-family: inherit;
    width: 30%;
  }
  
  .wrapper .appPayDateWrap form .footerNav {
    margin-block-start: 4rem;
  }

  .wrapper .confirmApp {
    width: 76%;
    margin-inline: auto;
  }

  .wrapper .confirmApp h2 {
    font-size: 2rem;
  }
  
  .confirmApp .footerNav {
    margin-block: 2rem 1rem;
  }

  .confirmApp .footerNav button {
    text-transform: unset;
    font-size: 0.8rem;
  }
  
  .paymentWrap form h3 {
    font-size: 0.85rem;
    margin-block-end: 1rem;
  }

  .paymentWrap {
    display: flex;
    width: 100%;
    align-items: center;
    height: 260px;
  }
  
  .paymentWrap form {
    width: 57%;
  }

  .paymentWrap .formDivider {
    border-left: 1px solid var(--light-ash);
    height: 100%;
    margin-inline: 1%;
    width: 1%;
  }

  .paymentWrap .totalPayment {
    width: 40%;
  }
  
  .paymentWrap form label {
    font-family: 'Inter', sans-serif;
    color: hsla(0, 2%, 25%, 1);
    font-weight: 500;
    font-size: 0.8rem;
  }

  /* Notification Page */  
  .wrapper .profile-notification {
    gap: 1.5rem;
  }
  
  .profile-notification img {
    width: 8%;
  }
  
  .profile-notification .aboutInfo p.userName {
    font-size: 1.7rem;
  }
  
  .profile-notification .aboutInfo p.userId {
    font-size: 1.3rem;
  }
  
  .notificationWrap .notification-preview {
    gap: 1rem;
    padding-inline: .5rem;
    margin-block: 1rem;
    padding-block: 0.5rem;
  }
  
  .notificationWrap .notification-preview  img {
    width: 4%;
  }
  
  .notificationWrap .notification-preview p {  
    font-size: 1rem;
  }
}