@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  /* Colors */
  /* Primary Colors */
  --landing-page-bg: linear-gradient(122.21deg, #35693E -4.31%, #CFF9D7 99.36%);
  --login-btn-green: hsla(104, 32%, 56%, 1);
  --dark-green: hsla(131, 76%, 15%, 1);
  --red: hsla(0, 99%, 61%, 1);
  --signUp-bg: hsla(131, 33%, 31%, 1);
  --form-bg: hsla(104, 32%, 56%, 0.77);
  --login-bg: hsla(129, 24%, 22%, 1);
  --navbar-bg-green: hsla(131, 35%, 24%, 1);
  --h3-color: hsla(104, 29%, 43%, 1);
  
  /* Neutral Colors */
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --light-ash: hsla(0, 0%, 73%, 1);
  --otp-input-bg: hsla(0, 0%, 74%, 1);
  --next-btn-bg: hsla(0, 0%, 42%, 1);
  --placeholder-color: hsla(0, 0%, 62%, 1);
  --h2-color: hsla(0, 1%, 61%, 1);
  --nav-font-color: hsla(115, 100%, 98%, 1);
  --bg-grey-lite: hsla(0, 0%, 98%, 1); ;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background-color: var(--bg-grey-lite);
}

h1 {
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: 2.15rem;
  margin-block: 1rem;
}

a {
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
}

button {
  cursor: pointer;
}

input:focus {
  border: none;
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.container {
  width: 100%;
  padding-inline: .8rem; 
  padding-block: 1rem;
}

.header {
  width: 90%;
  margin-inline: auto;
}

/* Mobile Styles */
/* Landing Page */
.landPage {
  background: var(--landing-page-bg);
}

/* Header */
.landPage header nav {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-block: 2rem;
}

.landPage header nav p {
  color: var(--white);
  font-size: 2rem;
}

.landPage header nav p span.white-line {
  border-top: 3px solid var(--white);
}

.landPage header nav p span.red-line {
  border-bottom: 3px solid var(--red);
}

.landPage header nav button { 
  font-weight: 600;
  font-size: 1.4rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1rem;
  color: var(--login-btn-green);
}

/* Landing PAge Main */
main section.moto {
  margin-block: 2rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 

section.moto .priority {
  position: relative;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

section.moto .priority p {
  color: var(--white);
  font-weight: 400;
  width: 100%;
  font-size: 2.3rem;
  line-height: 48px;
} 

.priority img {
  position: absolute;
  top: 75px;
  left: -34%;
  height: 35px;
}

.priority img.line2 {
  display: none;
}

.priority button {
  display: none;
}

section.moto img {
  width: 70%;
}

main button.login2 {
  font-weight: 600;
  font-size: 1.1rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1.5rem;
  color: var(--login-btn-green);
  margin-block: 1rem;
}

main section.aboutUs {
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-block: 4.5rem;
}

main section.aboutUs aside {
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: 600;
  gap: 0.5rem;
  color: var(--dark-green);
}

main section.aboutUs aside img {
  width: 25%;
}

/* SignUp Page */
/* Header */
.signUpPage {
  background: var(--signUp-bg);
  font-family: 'Poppins', sans-serif;
}

.signUpPage header {
  margin-block: 2rem;
}

.signUpPage header nav p {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
}

.signUpPage header nav p span.white-line {
  border-top: 3px solid var(--white);
}

.signUpPage header nav p span.red-line {
  border-bottom: 3px solid var(--red);
}

/* SignUp Main */
.signUpPage main {
  margin-block: 2rem;
} 

.signUpPage main h1 {
  font-size: 2.3rem;
}

.signUpPage main form {
  display: flex;
  flex-direction: column;
}

.signUpPage main form .signupForm {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.signUpPage main form input { 
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  font-size: 0.9rem;
  border: none;
  padding-inline-start: .5rem;
  padding-inline-end: .1rem;
  height: 40px;
  margin-bottom: 2rem;
  width: 100%;
} 

.signupForm select {
  border-radius: 5px;
  padding-inline-start: .5rem;
  height: 40px;
  width: 100%;
  font-size: .9rem;
}

form input.confirm-password {
  margin-block: 2rem 3rem;
}

.signUpPage main form button {
  font-weight: 600;
  font-size: 1.5rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1.5rem;
  color: var(--login-btn-green);
  margin-block: 2rem 4rem;
  align-self: flex-end;
}

/* Verififcation Page */
.verificationPage {
  background: var(--signUp-bg);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
  height: 100vh;
}

.verificationPage header {
  margin-block: 2rem;
}

.verificationPage header nav p {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
}

.verificationPage header nav p span.white-line {
  border-top: 3px solid var(--white);
}

.verificationPage header nav p span.red-line {
  border-bottom: 3px solid var(--red);
}

/* Verification PAge Main */
.verificationPage main {
  margin-block: 2rem;
}

.verificationPage main h1 {
  font-size: 2.1rem;
}

.verificationPage main p {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.06rem;
}

.verificationPage main p span.OTP {
  color: var(--red);
}

.verificationPage main form.verify {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.verificationPage main form.verify .otp {
  display: flex;
  width: 100%;
  max-width: 350px;
  gap: 1rem;
}

form.verify .otp input {
  margin-inline: auto;
  width: 70px;
  height: 70px;
  text-align: center;
  margin-block: 2rem;
  background: var(--otp-input-bg);
  font-size: 3rem;
  border: none;
  border-radius: 50%;
}

form.verify button {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  color: var(--white);
  background: var(--next-btn-bg);
}

/* Successful signup Page */
.successSignupPage {
  background: var(--signUp-bg);
  height: 100vh;
  font-family: 'Poppins',sans-serif;
}

/* Header */
.successSignupPage header {
  margin-block: 2rem;
}

.successSignupPage header nav p {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
}

.successSignupPage header nav p span.white-line {
  border-top: 3px solid var(--white);
}

.successSignupPage header nav p span.red-line {
  border-bottom: 3px solid var(--red);
}

.successSignupPage main {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--white);
}

.successSignupPage p.registeredSuccess {
  font-size: 1.1rem;
  line-height: 30px;
  font-weight: 700;
  margin-block-end: 2rem;
}

.successSignupPage p.registeredSuccess span.patientId {
  color: var(--black);
}

.successSignupPage p.reminder {
  font-size: 1.08rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  color: var(--light-ash);
}

.successSignupPage main button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1rem;
  color: var(--login-btn-green);
  margin-block: 4rem;
  align-self: flex-end;
}

/* Login PAge */
.loginPage, .changePword {
  background: var(--login-bg);
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.loginPage header {
  margin-block: 1.5rem;
}

.loginPage header nav p {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
}

.loginPage header nav p span.white-line {
  border-top: 3px solid var(--white);
}

.loginPage header nav p span.red-line {
  border-bottom: 3px solid var(--red);
}

/* Login Main */
.loginPage main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loginPage main .form-field {
  display: flex;
  flex-direction: column;
  background-color: var(--form-bg);
  padding: 2.5rem; 
  border-radius: 30px;
  width: 100%;
  max-width: 300px;
  max-height: 310px;
  margin-block: 1rem 4rem;
}

.loginPage .form-field form {
  color: var(--white);
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-inline: auto;
  width: 100%;
  font-weight: 400;
  font-size: 1rem;
}

.loginPage main .form-field p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  align-self: flex-end;
  color: var(--red);
  font-size: 12px;
}

.loginPage .form-field form input {
  width: 100%;
  height: 37px;
  margin-block: 0.4rem 1.3rem;
  border: none;
  border-radius: 5px;
  padding-inline-start: 1rem;
  font-size: 0.9rem;
}

.loginPage main button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1rem;
  color: var(--login-btn-green);
  margin-block-start: .5rem;
  align-self: flex-end;
}

/* PATIENT HOME */
/* Navbar */
header.patientHeader {
  background: var(--login-bg);
} 

header.patientHeader nav.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: .5rem;
  max-height: 52px;
  color: var(--white);
  font-family: 'Poppins',sans-serif;
  font-weight: 600;
}

header.patientHeader nav.header ul {
  display: flex;
  align-items: center;
  gap: .8rem;
}

nav.header ul.leftNav li.noShow {
  display: none;
}

header.patientHeader nav.header ul.rightNav li.last {
  display: flex;
  gap: .5rem;
  align-items: center;
}

header.patientHeader nav.header ul.rightNav li.last .profile {
  font-size: 0.7rem;
  text-align: right;
}

ul.rightNav li.last .profile span {
  opacity: .6;
  font-weight: 300;
}

a.initials {
  padding: 0.2rem .65rem;
  border-radius: 5px;
  font-size: .87rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.08);
}

.headerFooter {
  display: flex;
  align-items: center;
  width: 100%; 
  padding-block: .7rem;
  max-height: 42px;
  background: var(--white);
}

.headerFooter p.header {
  padding-inline: 5rem;
  font-family: 'Poppins', sans-serif;
  color: #c9c9c9;
}

/* Hamburger Menu */ 
li.hamburger {
  display: flex;
  width: 100%;
  flex-direction: column; 
  align-items: flex-end;
  z-index: 999;
}
li.hamburger .hamburger-icon {  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 19px;
  cursor: pointer;
}

li.hamburger::marker {
  display: none;
  color: white;
  background: white;
}

li.hamburger .hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--navbar-bg-green);
  transition: transform 0.4s ease-in-out;
}

li.hamburger .hamburger-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

li.hamburger .hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

li.hamburger .hamburger-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* CSS for Off-canvas Sliding Navigation Menu */
aside nav.secondNav {
  background: hsla(131, 100%, 96%, 1);
  width: 50%;
  height: 100vh;
  position: fixed;
  /* top: 0; */
  right: -100%;
  transition: right 0.4s ease-in-out;
  z-index: 1;
}

aside nav.secondNav.open {
  right: 0;
}

aside nav.secondNav ul {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column; 
  height: 100%;
}

aside nav.secondNav ul li {
  display: flex;
  align-items: center;
  gap: .7rem;
  background: white;
  padding: 10px;
  opacity: 0;
  transform: translateX(-100%);
  margin-block-end: 1rem;
  color: var(--navbar-bg-green);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

aside nav.secondNav.open ul li {
  opacity: 1;
  transform: translateX(0);
}

aside nav.secondNav ul li:nth-child(1) {
  transition-delay: 0.1s;
}

aside nav.secondNav.open ul li:nth-child(1) {
  transition-delay: 0.2s;
}

aside nav.secondNav ul li:nth-child(2) {
  transition-delay: 0.2s;
}

aside nav.secondNav.open ul li:nth-child(2) {
  transition-delay: 0.3s;
}

aside nav.secondNav ul li:nth-child(3) {
  transition-delay: 0.3s;
}

aside nav.secondNav.open ul li:nth-child(3) {
  transition-delay: 0.4s;
}

aside nav.secondNav ul li:nth-child(4) {
  transition-delay: 0.4s;
}

aside nav.secondNav.open ul li:nth-child(4) {
  transition-delay: 0.5s;
} 

aside nav.secondNav ul li img {
  width: 12%; 
}

/* Desktop Styles */
@media(min-width: 768px) {
  /* Utility Style */
  .container{
    padding-inline: 4rem;
  }

  /* Landing Page Main */
  main section.moto {
    margin-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%; 
  } 

  section.moto .priority {
    position: relative;
    width: 60%;
  }
  
  section.moto .priority p {
    color: var(--white);
    font-weight: 400;
    width: 77%;
    font-size: 4.3rem;
    line-height: 108px;
  } 
  
  .priority img {
    display: none;
  }
  
  .priority img.line2 { 
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 250px;
    height: 35px;
  }
  
  .priority button {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    background: var(--white);
    border: none;
    border-radius: 5px;
    padding: .3rem 1.9rem;
    color: var(--login-btn-green);
    margin-block: 5rem 1rem;
  }
  
  section.moto img {
    width: max(30%, 370px);
  }

  button.login2 {
    display: none;
  }

  main section.aboutUs aside {
    display: flex;
    gap: 1rem; 
  }

  section.aboutUs aside.aside1 {
    color: var(--white);
    opacity: .5;
  }
  
  section.aboutUs aside p {
    align-items: center; 
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  main section.aboutUs aside img {
    width: 25%;
  }

  /* SignUp Page */
  .signUpPage main {
    max-width: 990px;
    margin-inline: auto;
  }

  .signUpPage main h1 { 
    font-size: 4rem !important; 
    margin-block-end: 3.5rem !important;
  }

  .signUpPage main form {
    width: 80%;
    margin-inline: auto;
  }

  .signUpPage main form .signupForm {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
  } 

  .signupForm select {
    border-radius: 5px;
    padding-inline: 1rem; 
  }

  form input.confirm-password {
    margin-block: 1.5rem 3rem;
    width: 45% !important;
    align-self: flex-end;
  }

  .signUpPage main form button { 
    font-size: 1.7rem;  
    margin-block: 3rem 3.5rem;
    align-self: flex-end;
  }

  /* Verification PAge */
  .verificationPage main {
    max-width: 920px;
    margin-inline: auto;
  }

  .verificationPage main h1 {
    font-size: 4rem;
  }

  .verificationPage main p {
    font-size: 2.2rem;
  }

  .verificationPage main form.verify button {
    width: 30%;
  }

  /* Successful signup Page */
  .successSignupPage main {
    max-width: 830px;
    margin-inline: auto;
    justify-content: space-between;
  }

  .successSignupPage main h1 {
    font-size: 4rem;
  }

  .successSignupPage main p.registeredSuccess {
    font-size: 2.5rem;
    line-height: 60px;
  }

  .successSignupPage main p.reminder {
    font-size: 1.4rem;
  }

  /* Login Page */
  .loginPage main h1 {
    margin-block-end: 0rem;
    font-size: 3.2rem;
  }

  .loginPage main .form-field {
    max-width: 400px;
  }

  /* DESKTOP NAVBAR */
  header.patientHeader nav.header {
    padding-block: 2rem;
  }

  nav.header ul.leftNav li.noShow {
    display: inline-block;
  } 

  header.patientHeader nav.header ul.rightNav li {
    padding-inline: .3rem;
  }

  header.patientHeader nav.header ul.leftNav li a {
    padding-inline: .8rem;
  }

  header.patientHeader nav.header ul.rightNav li.last {
    display: flex;
    gap: .9rem;
    align-items: center;
  }
  
  header.patientHeader nav.header ul.rightNav li.last .profile {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  ul.rightNav li.last .profile span {
    opacity: .6;
    font-weight: 300;
  }

  a.initials {
    padding: 0.6rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.08);
  }
}