@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Variables */
:root {
  /* Colors */
  /* Primary Colors */
  --landing-page-bg: linear-gradient(122.21deg, #35693E -4.31%, #CFF9D7 99.36%);
  --login-btn-green: hsla(104, 32%, 56%, 1);
  --dark-green: hsla(131, 76%, 15%, 1);
  --red: hsla(0, 99%, 61%, 1);
  --signUp-bg: hsla(131, 33%, 31%, 1);
  --form-bg: hsla(104, 32%, 56%, 0.77);
  --login-bg: hsla(129, 24%, 22%, 1);
  --navbar-bg-green: hsla(131, 35%, 24%, 1);
  --h3-color: hsla(104, 29%, 43%, 1);
  
  /* Neutral Colors */
  --white: hsla(0, 0%, 100%, 1);
  --black: hsla(0, 0%, 0%, 1);
  --light-ash: hsla(0, 0%, 73%, 1);
  --otp-input-bg: hsla(0, 0%, 74%, 1);
  --next-btn-bg: hsla(0, 0%, 42%, 1);
  --placeholder-color: hsla(0, 0%, 62%, 1);
  --h2-color: hsla(0, 1%, 61%, 1);
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  /* font-family: 'Poppins',sans-serif;  */
}

button {
  cursor: pointer;
}

input:focus {
  border: none;
  outline: none;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* Utility Styles */
.container {
  width: 100%;
  padding-inline: .8rem; 
  padding-block: 1rem;
}

/* Mobile Styles */
/* Landing Page */
.landPage {
  background: var(--landing-page-bg);
}

/* Header */
.landPage header nav {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  margin-block: 2rem;
}

.landPage header nav p {
  color: var(--white);
  font-size: 2rem;
}

.landPage header nav p span.white-line {
  border-top: 3px solid var(--white);
}

.landPage header nav p span.red-line {
  border-bottom: 3px solid var(--red);
}

.landPage header nav button { 
  font-weight: 600;
  font-size: 1.4rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1rem;
  color: var(--login-btn-green);
}

/* Landing PAge Main */
main section.moto {
  margin-block: 2rem;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} 

section.moto .priority {
  position: relative;
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

section.moto .priority p {
  color: var(--white);
  font-weight: 400;
  width: 100%;
  font-size: 2.3rem;
  line-height: 48px;
} 

.priority img {
  position: absolute;
  top: 75px;
  left: -34%;
  height: 35px;
}

.priority img.line2 {
  display: none;
}

.priority button {
  display: none;
}

section.moto img {
  width: 70%;
}

main button.login2 {
  font-weight: 600;
  font-size: 1.1rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1.5rem;
  color: var(--login-btn-green);
  margin-block: 1rem;
}

main section.aboutUs {
  font-family: 'Poppins', sans-serif;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-block: 4.5rem;
}

main section.aboutUs aside {
  display: flex;
  align-items: center;
  font-size: .8rem;
  font-weight: 600;
  gap: 0.5rem;
  color: var(--dark-green);
}

main section.aboutUs aside img {
  width: 25%;
}

/* SignUp Page */
/* Header */
.signUpPage {
  background: var(--signUp-bg);
  font-family: 'Poppins', sans-serif;
}

.signUpPage header {
  margin-block: 2rem;
}

.signUpPage header nav p {
  font-weight: 600;
  color: var(--white);
  font-size: 2rem;
}

.signUpPage header nav p span.white-line {
  border-top: 3px solid var(--white);
}

.signUpPage header nav p span.red-line {
  border-bottom: 3px solid var(--red);
}

/* SignUp Main */
.signUpPage main {
  margin-block: 2rem;
}

.signUpPage main h1 {
  text-align: center;
  color: var(--white);
  font-weight: 600;
  font-size: 2.8rem;
  margin-block: 1rem 2rem;
}

.signUpPage main form {
  display: flex;
  flex-direction: column;
}

.signUpPage main form .signupForm {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.signUpPage main form input {
  /* color: var(--placeholder-color); */
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  font-size: 0.9rem;
  border: none;
  padding-inline-start: .5rem;
  padding-inline-end: .1rem;
  height: 40px;
  margin-bottom: 2rem;
  width: 100%;
} 

.signupForm select {
  border-radius: 5px;
  padding-inline-start: .5rem;
  height: 40px;
  width: 100%;
  font-size: .9rem;
}

form input.confirm-password {
  margin-block: 2rem 3rem;
}

.signUpPage main form button {
  font-weight: 600;
  font-size: 1.5rem;
  background: var(--white);
  border: none;
  border-radius: 5px;
  padding: .3rem 1.5rem;
  color: var(--login-btn-green);
  margin-block: 2rem 4rem;
  align-self: flex-end;
}

/* Desktop Styles */
@media(min-width: 860px) {
  /* Utility Style */
  .container{
    padding-inline: 4rem;
  }

  /* Landing Page Main */
  main section.moto {
    margin-block: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%; 
  } 

  section.moto .priority {
    position: relative;
    width: 60%;
  }
  
  section.moto .priority p {
    color: var(--white);
    font-weight: 400;
    width: 77%;
    font-size: 4.3rem;
    line-height: 108px;
  } 
  
  .priority img {
    display: none;
  }
  
  .priority img.line2 { 
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 250px;
    height: 35px;
  }
  
  .priority button {
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
    background: var(--white);
    border: none;
    border-radius: 5px;
    padding: .3rem 1.9rem;
    color: var(--login-btn-green);
    margin-block: 5rem 1rem;
  }
  
  section.moto img {
    width: max(30%, 370px);
  }

  button.login2 {
    display: none;
  }

  main section.aboutUs aside {
    display: flex;
    gap: 1rem; 
  }

  section.aboutUs aside.aside1 {
    color: var(--white);
    opacity: .5;
  }
  
  section.aboutUs aside p {
    align-items: center; 
    font-size: 1.4rem;
    font-weight: 600;
  }
  
  main section.aboutUs aside img {
    width: 25%;
  }

  /* SignUp Page */
  .signUpPage main {
    max-width: 990px;
    margin-inline: auto;
  }

  .signUpPage main h1 { 
    font-size: 4rem; 
    margin-block-end: 3.5rem;
  }

  .signUpPage main form {
    width: 80%;
    margin-inline: auto;
  }

  .signUpPage main form .signupForm {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
  } 

  .signupForm select {
    border-radius: 5px;
    padding-inline: 1rem; 
  }

  form input.confirm-password {
    margin-block: 1.5rem 3rem;
    width: 45% !important;
    align-self: flex-end;
  }

  .signUpPage main form button { 
    font-size: 1.7rem;  
    margin-block: 3rem 3.5rem;
    align-self: flex-end;
  }
}